<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <style>
  img {
    border-radius: 12px;
  }
    </style>

  </head>
  <body>

<!DOCTYPE html>
     <html lang="en">
     <title>W3.CSS Template</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <style>
     body {font-family: "Lato", sans-serif}
     </style>

     <body>

     <!-- Navbar -->
     <div class="w3-top">
       <div class="w3-bar w3-black w3-card">
           <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

           <a href="#home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
           <a href="#education" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EDUCATION</a>
           <a href="#experience" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EXPERIENCE</a>
           <a href="#projects" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PROJECTS</a>
           <a href="#skills" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SKILLS</a>
           <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>


       </div>
     </div>


<!--home page-->
   <div class="w3-container w3-padding-32" id="home">
     <div class="jumbotron">
         <div class="row">
           <div class="col-sm-4">
             <img src="{{url_for('static',filename='img-new.jpg')}}" class="img-responsive" style="width:80%" alt="reshma">
           </div>

             <div class="col-sm-7">

                   <h2 style="font-size:45px;"><b>S.K. RESHMA BEGUM</b></h2><br>
                   <p style="font-size:20px;"><b>OBJECTIVE</b> : To have a growth oriented and challenging career, where I can contribute my knowledge and enhance my experience through continuous learning.</p>
             </div>

         </div>
     </div>
   </div>

<!--education-->
<div class="w3-container w3-padding-32" id="education">
     <div class="jumbotron">
               <h3><b>EDUCATION DETAILS</b></h3><br>
               <div class="container">
                   <table class="table table-striped">
                    <tbody>
                     <tr>
                       <td style="font-size:18px;">2015-2019</td>
                       <td style="font-size:18px;">Bachelors  in  Technology (ECE) <br>Bandari  Srinivas  Institute  Of  Technology, JNTUH </td>
                     </tr>
                     <tr>
                       <td style="font-size:18px;">2012-2014</td>
                       <td style="font-size:18px;">Intermediate<br>K.V ONGC , Panvel</td>
                     <tr>
                       <td style="font-size:18px;">2011-2012</td>
                       <td style="font-size:18px;">SSC <br>K.V ONGC , Panvel</td>
                     </tr>

                   </tbody>
                 </table>
               </div>
     </div>
</div>

<!--experience-->
<div class="w3-container w3-padding-32" id="experience">
     <div class="jumbotron">
     <body>
       <h3><b>EXPERIENCE</b></h3><br>

     <div class="container">

       <table class="table table-striped">

         <tbody>
           <tr>
             <td style="font-size:18px;">SEP 2019 - SEP 2020</td>
             <td style="font-size:18px;">Quality Control Intern <br>Bharat Dynamics Limited, Hyderabad </td>
           </tr>
           <tr>
             <td style="font-size:18px;"> NOV 2020 - Current</td>
             <td style="font-size:18px;">Data Science Intern<br>Innomatics Research Labs, Hyderabad</td>
            </tr>

         </tbody>
       </table>
     </div>
     </body>
 </div>
</div>


<!--projects-->>

<div class="w3-container w3-padding-32" id="projects">
     <div class="jumbotron">
  <h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16"><b>ACADEMIC PROJECTS</b></h3>
       <ul>
         <li style="font-size:18px;"><b>MINI PROJECT </b> : Implementation of Built In Logic Block Observer on FPGA </li><br>
         <li style="font-size:18px;"><b>MAJOR PROJECT</b> : Implementation of SHA-3 512 on FPGA</li>
       </ul>
      </div>
    </div>


<!--skills-->
<div class="w3-container w3-padding-32" id="skills">
     <div class="jumbotron">
  <h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16"><b>SKILLS</b></h3>
    <div class="row">
        <div class="col-sm-5">
       <h4><b>PROFESSIONAL</b></h4>
       <ul>
         <li style="font-size:18px;">Python</li>
         <li style="font-size:18px;">HTML</li>
         <li style="font-size:18px;" >Basic Verilog</li>
       </ul>
      </div>

      <div class="col-sm-5">
       <h4><b>PERSONAL</b></h4>
       <ul>
         <li style="font-size:18px;">Adaptability</li>
         <li style="font-size:18px;">Self motivated</li>
         <li style="font-size:18px;">Strong work ethics</li>
       </ul>
     </div>
</div>
</div>
</div>


<!--contact-->
<div class="w3-container w3-padding-32" id="contact">
   <div class="jumbotron">
     <h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16"><b>CONTACT</h3><br>
     <i class="fa fa-map-marker" style="width:40px;font-size:30px;"></i> Hyderabad , Telangana , INDIA<br>
     <i class="fa fa-phone" style="width:40px;font-size:30px;"></i> +91 7095638083<br>
     <i class="fa fa-envelope" style="width:40px;font-size:30px;"></i>shaikreshma31@gmail.com<br>
     <a href="https://www.linkedin.com/in/shaik-reshma-72a1b0175" target="_blank">
      <i class="fa fa-linkedin" style="width:40px;font-size:30px;"></i>
    </a>

    </div>
</div>







  </body>
</html>
